<footer class="footer mt-5" >
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="company-name">
        StayEase
    </div>
    <div class="footer-links">
        <a href="/privacy">Privacy</a> |
        <a href="/terms">Terms & Conditions</a>
    </div>
</footer>
