<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Listing | WanderLust</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="form-container">
      <h2 class="form-title">Create a New Listing</h2>
      <form id="listing-form" method="POST" action="/listings">
        <input class="input-field" name="listing[title]" placeholder="Enter title" type="text" required />
        <textarea class="input-field textarea-field" name="listing[description]" placeholder="Enter description" required></textarea>
        <input class="input-field" name="listing[image][filename]" placeholder="Enter image filename" type="text" required />
        <input class="input-field" name="listing[image][url]" placeholder="Enter image URL" type="text" required />
        <input class="input-field" name="listing[price]" placeholder="Enter price" type="number" min="0" required />
        <input class="input-field" name="listing[country]" placeholder="Enter country" type="text" required />
        <input class="input-field" name="listing[location]" placeholder="Enter location" type="text" required />
        <div class="submit-btn" onclick="document.getElementById('listing-form').submit();">
          Add Listing
        </div>
      </form>
    </div>
  </body>
</html>
