<% layout("/layouts/boilerplate") %>

<div class="container py-5">
  <div class="mx-auto" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Create a New Listing</h2>
    <form id="listing-form" method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data" >

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Enter title" required>
        <div class="invalid-feedback">Title is required.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="listing[description]" rows="3" placeholder="Enter description" required></textarea>
        <div class="invalid-feedback">Description is required.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" class="form-control" id="image" name="listing[image]" required>
        <div class="invalid-feedback">Image is required.</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="listing[price]" placeholder="Enter price" min="0" required>
        <div class="invalid-feedback">Price is required and must be non-negative.</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" name="listing[country]" placeholder="Enter country" required>
        <div class="invalid-feedback">Country is required.</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="listing[location]" placeholder="Enter location" required>
        <div class="invalid-feedback">Location is required.</div>
      </div>

  
      <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" name="listing[category]"  >
            <option value="" selected disabled>Select category</option>
            <option value="room"> Rooms</option>
            <option value="iconic city"> Iconic Cities</option>
            <option value="mountain"> Mountain</option>
            <option value="beach"> Beach</option>
            <option value="castle"> Castles</option>
            <option value="pool"> Amazing Pools</option>
            <option value="farm"> Farms</option>
            <option value="arctic"> Arctic</option>
          </select>
          <!-- <div class="invalid-feedback">Category is required.</div> -->
        </div>


      <button class="btn btn-primary w-100">Add Listing</button>
    </form>
  </div>
</div>
